<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ONRE/src/main/java/edu/iitd/cse/open_nre/onre/runner/Onre_runMe_jsonStrings.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/harinder/Documents/IITD_MTP/Open_nre/ONRE/data/extractions/type5"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.iitd.cse.open_nre.onre.runner.Onre_runMe_jsonStrings"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="true data/0000tw_Done_Done"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ONRE"/>
</launchConfiguration>
